.container {
    height: 350px;
    width: 240px;
    color: white;
    perspective: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 5px solid white;
    margin-top: 20px;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.container-img-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    border: 5px solid white;
    margin-top: 20px;
}

.container-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 2rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position: absolute;
    width: 50%;
    background-color: transparent;
    border: 2px solid black;
    top: 0;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
}

.card-top-para {
    font-size: 16px;
    font-weight: bold;
}

.container:hover>.card {
    cursor: pointer;
    transform: rotateX(180deg) rotateZ(-180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.back {
    background-color: black;
    transform: rotateX(180deg) rotateZ(-180deg);
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.follow {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}