.conteiner {
    height: 100%;
    width: 100%;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
}

.primer-contenido {
    height: 100%;
    max-width: 1500px;
}

.opciones {
    margin: 50px 0 0 50px;
    height: 100%;
    max-width: 1500px;
    display: flex;
    column-gap: 50px;
    row-gap: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
    text-decoration: none;
    align-items: stretch;
}

.card {
    height: auto;
    box-sizing: border-box;
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(189, 92%, 58%);

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 1rem;
    width: 19rem;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsl(189, 99%, 26%) 0px, transparent 85%),
        radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
        radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);

    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.card .card__border {
    overflow: hidden;
    pointer-events: none;

    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(0deg,
            hsl(0, 0%, 100%) -50%,
            hsl(0, 0%, 40%) 100%);

    border-radius: 1rem;
}

.card .card__border::before {
    content: "";
    pointer-events: none;

    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), rotate(0deg);
    transform-origin: left;

    width: 200%;
    height: 10rem;
    background-image: linear-gradient(0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsl(189, 100%, 50%) 40%,
            hsl(189, 100%, 50%) 60%,
            hsla(0, 0%, 40%, 0) 100%);

    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.card_title__container {
    text-align: center;
}

.card .card_title__container .card_title {
    font-size: 25px;
    color: var(--white);
}

.card .card_title__container .card_paragraph {
    margin: 0.25rem 0 0 25px;
    width: 80%;

    font-size: 11px;
    color: var(--paragraph);
    text-align: justify;
}

.card .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);

    border: none;
}

.card .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card .card__list .card__list_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1rem;
    height: 1rem;
    background-color: var(--primary);

    border-radius: 50%;
}

.card .card__list .card__list_item .check .check_svg {
    width: 0.75rem;
    height: 0.75rem;

    fill: var(--black);
}

.card .card__list .card__list_item .list_text {
    font-size: 0.75rem;
    color: var(--white);
}

.card .button {
    cursor: pointer;

    padding: 0.5rem;
    width: 100%;
    background-image: linear-gradient(0deg,
            hsl(189, 92%, 58%),
            hsl(189, 99%, 26%) 100%);

    font-size: 0.75rem;
    color: var(--white);

    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
}

.portalAcademico-icon {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.matricula-icon {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bienestarU-icon {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blearning-icon {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lambLearning-icon {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.segundo-contenido {
    display: flex;
    width: 420px;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    border: 2px solid white;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.contenedor-logo {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 70px;
}

.contenedor-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.perfil-card {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.opcion-cerrar-sesion {
    margin: 0 auto;
    margin-top: 20px;
}

.opcion-cerrar-sesion button {
    border-radius: 100px;
    background-color: black; /* Color de fondo */
    color: white; /* Texto en blanco */
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid white; /* Borde blanco */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.opcion-cerrar-sesion button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}