.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.splineBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Poner el fondo detrás del contenido */
}

.content {
    position: relative;
    z-index: 1;
    /* Asegurar que el contenido esté encima del fondo */
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    height: 800px;
    width: 900px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.texto-principal {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.texto-principal {
    background: linear-gradient(90deg, #014278, #4A8DB7, #0369A1, #00274D, #1A1A1A, #2b65ff, #034fdb);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.mision {
    margin-top: 10px;
}

.mision-container {
    display: flex;
    flex-direction: row;
}

.mision-icono {
    margin: 8px 0 0 10px;
}

.mision-subtitulo {
    width: 100px;
}

.primer-rectangulo {
    height: 5px;
    width: 100%;
    background-color: yellow;
    margin-top: -5px;
}

.mision h2 {
    color: #014278;
    display: inline;
    font-size: 30px;
}

.mision p {
    color: #4A8DB7;
    text-align: justify;
    font-size: 20px;
}

.vision-container {
    display: flex;
    flex-direction: row;
}

.vision-icono {
    margin: 8px 0 0 10px;
}

.vision-subtitulo {
    width: 90px;
}

.segundo-rectangulo {
    height: 5px;
    width: 100%;
    background-color: yellow;
    margin-top: -5px;
}

.vision h2 {
    color: #014278;
    display: inline;
    font-size: 30px;
}

.vision p {
    color: #4A8DB7;
    text-align: justify;
    font-size: 20px;
}

.contenido-secundario {
    height: 100px;
    width: 1500px;
    margin-left: 150px;
    margin-top: -70px;
}

.cuadradito {
    height: 55px;
    width: 65px;
    background-color: yellow;
    position: absolute;
    z-index: -1;
    margin-top: -5px;
}

.subtitulo-secundario h2 {
    display: inline;
}

.letras-secundarias {
    margin-left: 10px;
}

.imagenes-secundarias {
    display: flex;
    width: 1650px;
    height: 100px;
    justify-content: center;
    gap: 100px;
    background-color: rgba(1, 22, 39, 0.6);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Nivel de desenfoque */
    -webkit-backdrop-filter: blur(10px);
    /* Soporte para Safari */
    border-radius: 10px;
    border-color: yellow;
    margin: auto;
    margin-top: 15px;
}

.contenedor-imagen-1 {
    height: 110px;
    width: 110px;
    margin-left: 20px;
}

.contenedor-imagen-1 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.contenedor-imagen-2 {
    height: 110px;
    width: 200px;
}

.contenedor-imagen-2 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.contenedor-imagen-3 {
    height: 110px;
    width: 200px;
}

.contenedor-imagen-3 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.contenedor-imagen-4 {
    height: 110px;
    width: 200px;
}

.contenedor-imagen-4 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.contenedor-imagen-5 {
    height: 90px;
    width: 90px;
    margin-top: 10px;
}

.contenedor-imagen-5 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.contenedor-imagen-6 {
    height: 110px;
    width: 200px;
}

.contenedor-imagen-6 img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.boton-libro-reclamaciones {
    margin-top: 10px;
    height: 40px;
    width: 250px;
    border: 5px solid yellow;
    background-color: rgba(1, 22, 39, 0.6);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Nivel de desenfoque */
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.boton-libro-reclamaciones p {
    color: yellow;
    width: 210px;
    margin: 3px 0 0 15px;
}